html {
  background-color: black;
  text-align: center;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.download-text {
  color: aquamarine;
  font-size: 16px;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 42px;
}
#main-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  font-size: 21;
}
#logo {
  color: gray;
  text-align: right;
}
